@font-face {
  font-family: 'modern-sans';
  src: url('/fonts/ModernSans-Light.otf');
 }

body {
  font-family: modern-sans,Karla,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  transition: background-color 400ms ease-out;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none; 
}
